<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
  <% include partials/_header %>
  <ul>
    <li><a href="/u/<%=shortURL%>"><%= shortURL %></a> ==> <%= urls[shortURL].longURL %></li>
    <% if (urlVisits[shortURL]) { %>
      <% const visits = urlVisits[shortURL].visits %>
      <% for (const visit of visits) { %>
        <li>User <%= visit.visitor_id %> visited on <%= visit.timeStamp %></li>
      <% } %>
      <li>Unique Visitors to this URL : <%= urlVisits[shortURL].uniqueVisits %></li>
      <li>Total Visitors to this URL : <%= urlVisits[shortURL].visits.length %></li>
    <% } %>
  </ul>
  <% if (urls[shortURL].userID === user.id) { %>
    <form action="/urls/<%=shortURL%>?_method=PUT" method="POST">
      <label for="longURL">Update the URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  <% } %>
</body>
</html>